/* Keyboard widget color styles */

.keyboard-key {
  color: @view_bg_color;
}

.keyboard-key-text {
  color: @view_fg_color;
}

.keyboard-key-current {
  color: @accent_bg_color;
}

.keyboard-key-current-text {
  color: @accent_fg_color;
}

.keyboard-modifier {
  color: mix(@card_bg_color, @window_bg_color, 0.5);
}

.keyboard-modifier-text {
  color: @window_fg_color;
}

.keyboard-border {
  color: @borders;
}

/* Finger colors - GNOME HIG palette */

.finger-left-pinky, .finger-right-pinky {
  color: @red_3;
}

.finger-left-ring, .finger-right-ring {
  color: @orange_3;
}

.finger-left-middle, .finger-right-middle {
  color: @yellow_3;
}

.finger-left-index, .finger-right-index {
  color: @blue_3;
}

.finger-left-thumb, .finger-right-thumb, .finger-both-thumbs {
  color: @green_3;
}

/* Hand widget color styles - GNOME HIG palette */

.hand-palm {
  color: @card_bg_color;
}

.hand-palm-border {
  color: @borders;
}

.hand-finger-default {
  color: @view_bg_color;
}

.hand-finger-border {
  color: @borders;
}

.hand-finger-current {
  color: @accent_bg_color;
}

/* Scrolling lanes game color styles */

.lane-background {
  color: @view_bg_color;
}

.lane-current {
  color: @accent_bg_color;
}

.lane-text {
  color: @view_fg_color;
}

/* Falling keys game color styles */

.falling-key-text {
  color: @view_fg_color;
}

/* Speed test text view styles (from Keypunch) */

SpeedTestTextView {
  transition: filter 200ms;
}

SpeedTestTextView.unfocused {
  filter: blur(3px);
}

SpeedTestTextView > textview {
  font-size: 1.5rem;
  line-height: 50px;
  background: none;
  font-variant-ligatures: none;
}

SpeedTestResultsView .key-number {
  font-size: 3.5rem;
  font-weight: 700;
}

.card.typing-error {
  background-color: alpha(@error_color, 0.2);
  transition: background-color 100ms ease-out;
}
