/* Keyboard widget color styles */

.keyboard-key {
  color: @card_bg_color;
}

.keyboard-key-text {
  color: @window_fg_color;
}

.keyboard-key-current {
  color: @accent_bg_color;
}

.keyboard-modifier {
  color: mix(@card_bg_color, @window_bg_color, 0.5);
}

.keyboard-modifier-text {
  color: @window_fg_color;
}

.keyboard-border {
  color: @borders;
}

/* Scrolling lanes game color styles */

.lane-background {
  color: @view_bg_color;
}

.lane-current {
  color: @accent_bg_color;
}

.lane-text {
  color: @view_fg_color;
}

/* Falling keys game color styles */

.falling-key-text {
  color: @view_fg_color;
}
